<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>
    <p class="homepage-date">{{format_date date}}</p>
    <p class="post-content">{{content}}</p>
  </a>
  <div class="dash-more-btns">  
    <button class="btn btn-primary edit-post-btn" type="click">edit post</button>
    <button class="btn btn-primary del-post-btn" type="click">delete post</button>
  </div>
</section>
