<section class="container">
    {{#if posts}}
        {{#each posts as |post|}}
        {{> post-cards}}
        {{/each}}
    {{else}}
        <p>Start making some posts to see them populate here!</p>
    {{/if}}
    <div class="form-group">
        <button class="btn btn-primary new-post-btn" type="submit">new post</button>
    </div>
</section>

<script src="/js/newPostBtn.js"></script>