<section class="container">
    <form class="form save-post-form">
        <div class="form-group">
            <label for="title">Title:</label>
            <input class="form-input" type="text" id="new-post-title" />
        </div>
        <div class="form-group">
            <label for="content">Post Content:</label>
            <input class="form-input" type="text" id="new-post-content" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary save-post-btn" type="submit">save post</button>
        </div>
    </form>
</section>

<script src="/js/savePostBtn.js"></script>